services:
  - type: web
    name: culture-benin
    env: docker
    plan: free
    region: frankfurt
    buildCommand: ""
    startCommand: ""
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_KEY
        value: base64:xxxxxxxxxxxxxxxxxxxxx
      - key: APP_DEBUG
        value: false
